version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
    # Only allow security updates by disabling version updates
    open-pull-requests-limit: 0
